@tailwind base;
@tailwind components;
@tailwind utilities;

/* Este será nuestro lienzo global */
body {
  margin: 0;
  padding: 0;
  background-color: #050605;
  overflow: hidden; /* Evita scrolls accidentales en la experiencia inmersiva */
}